<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Home{% endblock %}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/bootstrap.css">
	<link rel="stylesheet" href="/styles/bootstrap-theme.css">
	<link rel="stylesheet" href="/styles/all.css">
	<script src="/javascript/jquery.min.js"></script>
	<script src="/javascript/bootstrap.js"></script>
	<script src="/javascript/all.js"></script>
</head>
<body role="document">
	{% block content %}
		<p>Deze pagina is leeg.</p>
	{% endblock %}
</body>
</html>
