{% extends '_layouts/master.html' %}

{% block content %}



<div class="container theme-showcase" role="main">

    <div class="annotation">
        <h2>About this <img src="/images/annotate-open.svg"> icon</h2>
        <p>These blue blocks are for annotating the page with extra information.</p>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Wireframework</h1>
{% markdown %}
A framework for creating wireframe prototypes. Make use of the built in annotation system, the [swig template system](http://paularmstrong.github.io/swig/) ([with Markdown](https://www.npmjs.org/package/gulp-swig) support) and use everything from [Twitter Bootstrap](http://getbootstrap.com).

See also: [Bootstrap example](/pages/bootstrap.html)
{% endmarkdown %}
    </div>
</div>

{% endblock %}
