{% extends '_layouts/master.html' %}

{% block title %}Wireframework{% endblock %}

{% block content %}

<div class="container theme-showcase" role="main">

    <div class="annotation">
        <h2>About this <img src="/images/simpleannotate-open.svg"> icon</h2>
        <p>These blue blocks are for annotating the page with extra information.</p>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Wireframework</h1>
{% markdown %}
A framework for creating wireframe prototypes. Make use of the built in annotation system, the [swig template system](http://paularmstrong.github.io/swig/) ([with Markdown](https://www.npmjs.org/package/gulp-swig) support), [jQuery](http://jquery.com) and use everything from [Twitter Bootstrap](http://getbootstrap.com).

[Gulp](http://gulpjs.com) takes care of parsing sass, templates and other stuff. [View the bootstrap example](/pages/bootstrap.html).

{% endmarkdown %}
    <a href="https://github.com/reinier/wireframework" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-link"></span> Wireframework on Github</a>
    </div>
</div>

{% endblock %}
